<div class="foosball-frame" style="height: 100%" layout="row" layout-fill layout-align="center center" hide-sm hide-md>
  <div class="foosball-table" layout="column">
    <div class="player-row team-1 {{winClass1}}" flex="20" layout="row" layout-align="start center" layout-padding
      >
      <div class="team-select" flex>
        <md-button class="md-fab md-primary md-hue-2" aria-label="Team 1" ng-click="selectTeam(1)">
          <md-icon md-svg-src="/images/choose-arrow.svg"></md-icon>
        </md-button>
      </div>
      <table-player-slot raised="true" ng-repeat="slot in topSlots" slot="slot" flex="25">
      </table-player-slot>
    </div>
    <div flex class="field" layout layout-align="center center">
      <div class="winner" ng-if="winningTeamNumber && saveable" flex="80">
        Winner: Team {{winningTeamNumber}}!
        <div>
          <md-button class="md-raised md-primary" ng-click="saveGame()">Save Game</md-button>
        </div>
      </div>
      <div class="error" ng-if="winningTeamNumber && (!saveable)">
        <p layout layout-align="center center">
          <span>Make sure both teams have at least one player and each player is used only once.</span></p>
      </div>
      <div class="instructions" ng-if="!winningTeamNumber">
        <p layout="column" layout-fill layout-align="center center">
          <span>Set the names of the people on each side</span>
          <span ng-if="!winningTeamNumber">then click one of the two circular buttons to choose the winning team.</span>
        </p>
      </div>
    </div>
    <div class="player-row team-2 {{winClass2}}" flex="20" layout="row" layout-align="start center" layout-padding>
      <div class="team-select" flex>
        <md-button class="md-fab md-primary md-hue-2" aria-label="Team 2" ng-click="selectTeam(2)">
          <md-icon md-svg-src="/images/choose-arrow.svg"></md-icon>
        </md-button>
      </div>
      <table-player-slot raised="true" ng-repeat="slot in bottomSlots" slot="slot" flex="25">
      </table-player-slot>
    </div>
  </div>
</div>

<md-content layout="column" layout-fill hide-gt-md class="team-1 team-small {{winClass1}}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-primary md-hue-2" aria-label="Team 1" ng-click="selectTeam(1)">
        <md-icon md-svg-src="/images/choose-arrow.svg"></md-icon>
      </md-button>
      <h2>
        <span>Team 1</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-list>
    <md-subheader class="">
      <span ng-if="!winningTeamNumber">Click one of the arrow buttons to indicate which team won</span>

      <span class="error" ng-if="winningTeamNumber && (!saveable)">Make sure both teams have at least one player and each
        player is used only once.</span>
    </md-subheader>
    <md-list-item ng-repeat="slot in topSlots" ng-class="{duplicate: slot.duplicate}">
      <table-player-slot slot="slot"></table-player-slot>
    </md-list-item>
  </md-list>
</md-content>

<md-content layout="column" layout-fill hide-gt-md class="team-2 team-small {{winClass2}}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-primary md-hue-2" aria-label="Team 2" ng-click="selectTeam(2)">
        <md-icon md-svg-src="/images/choose-arrow.svg"></md-icon>
      </md-button>
      <h2>
        <span>Team 2</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-list>
    <md-list-item ng-repeat="slot in bottomSlots" ng-class="{duplicate: slot.duplicate}">
      <table-player-slot slot="slot"></table-player-slot>
    </md-list-item>
    <md-list-item ng-if="winningTeamNumber && saveable" layout="row" layout-fill>
      <div flex></div>
      <md-button class="md-raised md-primary" flex="50" style="max-width: 10rem" ng-click="saveGame()">Save Game
      </md-button>
    </md-list-item>
  </md-list>
</md-content>
