<h1 hide-sm hide-md class="md-display-3" layout layout-align="center center"><span>
Game History</span></h1>
<h1 hide-gt-md class="md-display-1" layout layout-align="center center"><span>
Game History</span></h1>

<games-list games="games"></games-list>

<md-card ng-if="games.length">
  <md-card-content layout="row" layout-sm="column">
    <div flex>Delete ALL history and reset all players' ranks to 1200:</div>
    <div flex="33">
      <md-button class="md-primary md-raised md-warn" ng-click="destroyGames()">DELETE ALL GAMES</md-button>
    </div>
  </md-card-content>
</md-card>
