<h1 hide-sm hide-md class="md-display-3" layout layout-align="center center"><span>
Player &quot;{{ player.name }}&quot;</span></h1>
<h1 hide-gt-md class="md-display-1" layout layout-align="center center"><span>
Player &quot;{{ player.name}}&quot;</span></h1>

<md-content class="md-whiteframe-z3 player-ticket">
  <div layout="column" layout-padding>
    <div layout="row" layout-padding>
      <div class="label" flex="20"><b>Name</b></div>
      <div flex>{{player.name}}</div>
    </div>

    <div layout="row" layout-padding>
      <div flex="20" class="label"><b>Rank</b></div>
      <div flex>{{player.rank}}</div>
    </div>
  </div>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3><span>Game History</span></h3>
    </div>
  </md-toolbar>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="game in player.games">
      <img ng-src="/images/won.svg" class="md-avatar" alt="WON" ng-if="game.won "/>
      <img ng-src="/images/lost.svg" class="md-avatar" alt="WON" ng-if="!game.won "/>

      <div class="md-list-item-text">
        <h3>{{ game.time | date : 'medium' }} ( {{ game.game }} )</h3>

        <p>Rank Change: {{ game.oldRank }} to {{ game.newRank }}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
